//variables
$color_1: #fff;
$color_2: #121212;
$background-color_1: #121212;
$background-color_2: #ffffff;
$background-color_3: transparent;
$background-color_4: #fff;
$border-color_1: transparent;

$color-black: #000;
$color-white: #ffffff;
$color-green: #43e143;
$color-light-green: #b8e085;
$color-dark-green: #4dac25;
$color-light-grey: #f7f7f7;
$color-grey: #292929;;
$color-light-pink: #f0b6da;
$color-dark-pink: #d01c8a;

$font-primary: "Montserrat", sans-serif;

$font-weight--100: 100;
$font-weight--200: 200;
$font-weight--300: 300;
$font-weight--400: 400;
$font-weight--500: 500;
$font-weight--600: 600;
$font-weight--700: 700;
$font-weight--800: 800;
$font-weight--900: 900;
